{
  email {$CADDY_EMAIL}
}

{$APP_HOST} {
  encode zstd gzip

  @api path /api* /api/* /api
  handle @api {
    reverse_proxy api:8000
  }

  handle {
    reverse_proxy web:3000
  }
}

# Optional: separate API host
# {$API_HOST} {
#   encode zstd gzip
#   reverse_proxy api:8000
# }
