{{- if .Values.externalSecrets.enabled -}}
{{- $fullname := include "starter.fullname" . -}}
{{- if .Values.externalSecrets.api.data -}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $fullname }}-api
  labels:
{{ include "starter.labels" . | indent 4 }}
    app.kubernetes.io/component: api
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: {{ .Values.externalSecrets.secretStoreRef.name }}
    kind: {{ .Values.externalSecrets.secretStoreRef.kind }}
  target:
    name: {{ default (printf "%s-api" $fullname) .Values.api.secretName }}
  data:
  {{- range $key, $value := .Values.externalSecrets.api.data }}
    - secretKey: {{ $key }}
      remoteRef:
        key: {{ $value }}
  {{- end }}
---
{{- end }}
{{- if .Values.externalSecrets.web.data -}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $fullname }}-web
  labels:
{{ include "starter.labels" . | indent 4 }}
    app.kubernetes.io/component: web
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: {{ .Values.externalSecrets.secretStoreRef.name }}
    kind: {{ .Values.externalSecrets.secretStoreRef.kind }}
  target:
    name: {{ default (printf "%s-web" $fullname) .Values.web.secretName }}
  data:
  {{- range $key, $value := .Values.externalSecrets.web.data }}
    - secretKey: {{ $key }}
      remoteRef:
        key: {{ $value }}
  {{- end }}
{{- end }}
{{- if and .Values.worker.enabled .Values.externalSecrets.worker.data }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ $fullname }}-worker
  labels:
{{ include "starter.labels" . | indent 4 }}
    app.kubernetes.io/component: worker
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    name: {{ .Values.externalSecrets.secretStoreRef.name }}
    kind: {{ .Values.externalSecrets.secretStoreRef.kind }}
  target:
    name: {{ default (printf "%s-worker" $fullname) .Values.worker.secretName }}
  data:
  {{- range $key, $value := .Values.externalSecrets.worker.data }}
    - secretKey: {{ $key }}
      remoteRef:
        key: {{ $value }}
  {{- end }}
{{- end }}
{{- end }}
