apiVersion: v1
kind: Service
metadata:
  name: {{ include "starter.fullname" . }}-web
  labels:
{{ include "starter.labels" . | indent 4 }}
    app.kubernetes.io/component: web
spec:
  type: {{ .Values.web.service.type }}
  ports:
    - port: {{ .Values.web.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
{{ include "starter.selectorLabels" . | indent 4 }}
    app.kubernetes.io/component: web
